
# Secret for JWT signing
JWT_SECRET=your-secret-key-here

# Bunny.net Storage Configuration
BUNNY_STORAGE_ZONE=teste-aula
BUNNY_ACCESS_KEY=22baafe9-93d9-4501-b18ebad00488-7e0a-4567
BUNNY_PULL_ZONE_URL=https://teste-aula.b-cdn.net
BUNNY_REGION=br
